{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <ol class="breadcrumb">
        <li class="active">Orders</li>
    </ol>
    {% for order in order_list %}
    <div class="panel {% if order.is_cancelled %}panel-danger{% else %}panel-default{% endif %}">
        <div class="panel-heading">
            <h1 class="panel-title" style="margin-bottom:.1em">
                <a href="{% url 'orders:view_order' order_slug=order.slug %}">
                    Order at {{ order.restaurant_name }}
                </a>
            </h1>
            <small>#{{ order.id }} created on {{ order.created_at|date:'SHORT_DATETIME_FORMAT' }} by {{ order.coordinator }}</small>
        </div>
        <div class="panel-body">
            {% include "./order_state.html" %}
        </div>
    </div>
    {% empty %}
    {% bootstrap_alert "No Orders yet." alert_type='warning' dismissable=False %}
    {% endfor %}
{% endblock %}
