{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}chaospizza{% endblock title %}</title>
    {% block css %}
    {% bootstrap_css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="m-b-1">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'orders:list_orders' %}">chaos🍕</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    {% if not chaospizza_user.is_coordinator %}
                    <a href="{% url 'orders:create_order' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Announce Order</a>
                    {% else %}
                    <a href="{% url 'orders:view_order' order_slug=chaospizza_user.coordinated_order_slug %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Order</a>
                    {% endif %}
                    </li>
                    <li><a href="{% url 'orders:list_orders' %}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Orders</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Menus</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="container">
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}
</div>

{% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <script src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}
</body>
</html>
