[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4"
django-environ = "*"
django-bootstrap3 = "*"
psycopg2 = "*"
argon2-cffi = "*"
whitenoise = "*"
gunicorn = "*"
sentry-sdk = "*"

[dev-packages]
# we currently can't upgrade these two to newer versions
# because this would create a dependency conflict of pycodestyle
autopep8 = "==1.5.5"
flake8 = "<3.9"
pip-tools = "*"
pylint = "*"
pylint-django = "*"
pycodestyle = "*"
pydocstyle = "*"
pytest = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-cov = "*"
coverage = ">=4.4.0"
django-debug-toolbar = "*"
python-language-server = {extras = ["all"],version = "*"}
mypy = "*"
isort = "<5"
tomli = "*"

[requires]
python_version = "3.9"
