[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-bootstrap3 = "*"
psycopg2 = "*"
argon2-cffi = "*"
whitenoise = "*"
gunicorn = "*"
raven = "*"

[dev-packages]
pip-tools = "*"
pylint = "<2"
pylint-django = "<2"
pylint-common = "*"
pycodestyle = "*"
pydocstyle = "*"
pytest = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-cov = "*"
coverage = ">=4.4.0"
django-debug-toolbar = "*"

[requires]
python_version = "3.6"
